{% extends 'base.html' %}
{% block title %} TRAVELITE {% endblock title %}
{% block extra_css1 %}static/css/style.css{% endblock extra_css1 %}
{% block body %}

<br>

<div class="container text-center">
    <div class="row align-items-start">
        <div class="col">
            <div class="card" style="width: 40rem;">
                <br>
                <div class="container">
                    <h1>Top 10 Trending in Delhi</h1>
                    <br>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 13rem;">
                <img src="static/images/pexels-nataliya-vaitkevich-6120213.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Book hotels</h5>
                    <p class="card-text">Find the best of accomodation for you around the most
                        areas you want to visit </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 13rem;">
                <img src="static/images/recommend_dishes.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Try the Local Dishes</h5>
                    <p class="card-text">Find the most lip smacking delicacies made
                        by the locals</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>

<div class="container text-center">
    <div class="row">
        <div class="col">
            <div class="image">
                <a
                    href="https://www.google.com/maps/place/Humayun's+Tomb,+Nizamuddin,+Nizamuddin+East,+New+Delhi,+Delhi+110013/@28.5929693,77.2488336,17z/data=!3m1!4b1!4m5!3m4!1s0x390ce31abf23b4d5:0xb20a251215dad3f0!8m2!3d28.5929646!4d77.2510223">
                    <img src="static/images/Humayun's_Tomb.jpg" class="img-fluid" alt="..."></a>
                <div class="Delhi">
                    <h5>Humayun's Tomb</h5>
                    <p>Description :</p>
                    <p>Timings : All Day</p>
                    <p>Price : 550 per person</p>
                    <a href="homepage.html"><i class="fa-solid fa-plus" style="width: 20px; height: 20px;"></i></a>
                    <i class="fa-regular fa-thumbs-up" style="width: 20px; height: 20px;"></i>
                    <i class="fa-regular fa-comment" style="width: 20px; height: 20px;"></i>
                    <i class="fa-regular fa-thumbs-down" style="width: 20px; height: 20px;"></i>
                    <a href="homepage.html"><i class="fa-solid fa-bookmark" style="width: 20px; height: 20px;"></i></a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="image">
                <a
                    href="https://www.google.com/maps/place/Shahi+Jama+Masjid/@27.1820662,78.014374,17z/data=!3m1!4b1!4m5!3m4!1s0x39747770add52adf:0x5cf586746adfb8b2!8m2!3d27.1820614!4d78.0165627">
                    <img src="static/images/Jama_Masjid.jpg" class="img-fluid" alt="..."></a>
                <div class="Delhi">
                    <h5>Jama Masjid</h5>
                    <p>Description : </p>
                    <p>Timings : All Day </p>
                    <p>Price : Free</p>
                    <a href="homepage.html"><i class="fa-solid fa-plus" style="width: 20px; height: 20px;"></i></a>
                    <i class="fa-regular fa-thumbs-up" style="width: 20px; height: 20px;"></i>
                    <i class="fa-regular fa-comment" style="width: 20px; height: 20px;"></i>
                    <i class="fa-regular fa-thumbs-down" style="width: 20px; height: 20px;"></i>
                    <a href="homepage.html"><i class="fa-solid fa-bookmark" style="width: 20px; height: 20px;"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="image">
                <a
                    href="https://www.google.com/maps/place/Lotus+Temple/@28.5534967,77.2566377,17z/data=!3m1!4b1!4m5!3m4!1s0x390ce3c16e028cd1:0x653beb1ee85ec67a!8m2!3d28.553492!4d77.2588264">
                    <img src="static/images/Lotus_Temple.jpg" class="img-fluid" alt="..."></a>
                <div class="Delhi">
                    <h5>Lotus Temple</h5>
                    <p>Description : </p>
                    <p>Timings : 8:00 - 5:00</p>
                    <p>Price : Free</p>
                    <a href="homepage.html"><i class="fa-solid fa-plus" style="width: 20px; height: 20px;"></i></a>
                    <i class="fa-regular fa-thumbs-up" style="width: 20px; height: 20px;"></i>
                    <i class="fa-regular fa-comment" style="width: 20px; height: 20px;"></i>
                    <i class="fa-regular fa-thumbs-down" style="width: 20px; height: 20px;"></i>
                    <a href="homepage.html"><i class="fa-solid fa-bookmark" style="width: 20px; height: 20px;"></i></a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="image">
                <a
                    href="https://www.google.com/maps/place/Rashtrapati+Bhawan,+President's+Estate,+New+Delhi,+Delhi/@28.6147748,77.1925721,16z/data=!3m1!4b1!4m5!3m4!1s0x390ce2a99ba1e313:0x7ed0da6bc307aa30!8m2!3d28.6141527!4d77.1959622">
                    <img src="static/images/Rashtrapati_Bhavan.jpg" class="img-fluid" alt="..."></a>
                <div class="Delhi">
                    <h5>Rashtrapati Bhavan</h5>
                    <p>Description :</p>
                    <p>Timings : 9:30 - 5:30</p>
                    <p>Price : Pre booking - Free</p>
                    <a href="homepage.html"><i class="fa-solid fa-plus" style="width: 20px; height: 20px;"></i></a>
                    <i class="fa-regular fa-thumbs-up" style="width: 20px; height: 20px;"></i>
                    <i class="fa-regular fa-comment" style="width: 20px; height: 20px;"></i>
                    <i class="fa-regular fa-thumbs-down" style="width: 20px; height: 20px;"></i>
                    <a href="homepage.html"><i class="fa-solid fa-bookmark" style="width: 20px; height: 20px;"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="image">
                <a
                    href="https://www.google.com/maps/place/Hauz+Khas+Village,+Deer+Park,+Hauz+Khas,+New+Delhi,+Delhi+110016/@28.5533357,77.1920222,17z/data=!3m1!4b1!4m5!3m4!1s0x390d1d8aa6bccb0f:0x357d3d8396615cec!8m2!3d28.5533997!4d77.1941654">
                    <img src="static/images/Hauz_Khaus_Village.jpg" class="img-fluid" alt="..."></a>
                <div class="Delhi">
                    <h5>Clubbing in Hauz Khaus Village</h5>
                    <p>Description : </p>
                    <p>Timings : </p>
                    <p>Price : </p>
                    <a href="homepage.html"><i class="fa-solid fa-plus" style="width: 20px; height: 20px;"></i></a>
                    <i class="fa-regular fa-thumbs-up" style="width: 20px; height: 20px;"></i>
                    <i class="fa-regular fa-comment" style="width: 20px; height: 20px;"></i>
                    <i class="fa-regular fa-thumbs-down" style="width: 20px; height: 20px;"></i>
                    <a href="homepage.html"><i class="fa-solid fa-bookmark" style="width: 20px; height: 20px;"></i></a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="image">
                <a
                    href="https://www.google.com/maps/place/Jantar+Mantar/@28.6270594,77.214438,17z/data=!3m1!4b1!4m5!3m4!1s0x390cfd4a694fc49b:0xa24a6ec962781b0c!8m2!3d28.6270547!4d77.2166267">
                    <img src="static/images/Jantar_mantar.jpg" class="img-fluid" alt="..."></a>
                <div class="Delhi">
                    <h5>Jantar Mantar</h5>
                    <p>Description : </p>
                    <p>Timings : </p>
                    <p>Price : </p>
                    <a href="homepage.html"><i class="fa-solid fa-plus" style="width: 20px; height: 20px;"></i></a>
                    <i class="fa-regular fa-thumbs-up" style="width: 20px; height: 20px;"></i>
                    <i class="fa-regular fa-comment" style="width: 20px; height: 20px;"></i>
                    <i class="fa-regular fa-thumbs-down" style="width: 20px; height: 20px;"></i>
                    <a href="homepage.html"><i class="fa-solid fa-bookmark" style="width: 20px; height: 20px;"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="image">
                <a
                    href="https://www.google.com/maps/place/Connaught+Place,+New+Delhi,+Delhi+110001/@28.6289206,77.2065322,15z/data=!3m1!4b1!4m5!3m4!1s0x390cfd37b741d057:0xcdee88e47393c3f1!8m2!3d28.6304203!4d77.2177216">
                    <img src="static/images/connaught_place.jpg" class="img-fluid" alt="..."></a>
                <div class="Delhi">
                    <h5>Partying at the Connaught Palace</h5>
                    <p>Description :</p>
                    <p>Timings : </p>
                    <p>Price : </p>
                    <a href="homepage.html"><i class="fa-solid fa-plus" style="width: 20px; height: 20px;"></i></a>
                    <i class="fa-regular fa-thumbs-up" style="width: 20px; height: 20px;"></i>
                    <i class="fa-regular fa-comment" style="width: 20px; height: 20px;"></i>
                    <i class="fa-regular fa-thumbs-down" style="width: 20px; height: 20px;"></i>
                    <a href="homepage.html"><i class="fa-solid fa-bookmark" style="width: 20px; height: 20px;"></i></a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="image">
                <a
                    href="https://www.google.com/maps/place/Chandni+Chowk,+New+Delhi,+Delhi/@28.6514112,77.2141277,14z/data=!3m1!4b1!4m5!3m4!1s0x390cfd1a88dcc559:0x24fa43c081dbe51!8m2!3d28.6505331!4d77.230337">
                    <img src="static/images/Chandni_Chowk .jpg" class="img-fluid" alt="..."></a>
                <div class="Delhi">
                    <h5>Shop at Chandni Chowk</h5>
                    <p>Description :</p>
                    <p>Timings : </p>
                    <p>Price : </p>
                    <a href="homepage.html"><i class="fa-solid fa-plus" style="width: 20px; height: 20px;"></i></a>
                    <i class="fa-regular fa-thumbs-up" style="width: 20px; height: 20px;"></i>
                    <i class="fa-regular fa-comment" style="width: 20px; height: 20px;"></i>
                    <i class="fa-regular fa-thumbs-down" style="width: 20px; height: 20px;"></i>
                    <a href="homepage.html"><i class="fa-solid fa-bookmark" style="width: 20px; height: 20px;"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="image">
                <a
                    href="https://www.google.com/maps/place/India+Gate,+New+Delhi,+Delhi/@28.609093,77.2153952,14z/data=!3m1!4b1!4m5!3m4!1s0x390ce2db961be393:0xf6c7ef5ee6dd10ae!8m2!3d28.6110886!4d77.2345184">
                    <img src="static/images/India_gate.jpg" class="img-fluid" alt="..."></a>
                <div class="Delhi">
                    <h5>Morning walk near India Gate</h5>
                    <p>Description : </p>
                    <p>Timings : </p>
                    <p>Price : </p>
                    <a href="homepage.html"><i class="fa-solid fa-plus" style="width: 20px; height: 20px;"></i></a>
                    <i class="fa-regular fa-thumbs-up" style="width: 20px; height: 20px;"></i>
                    <i class="fa-regular fa-comment" style="width: 20px; height: 20px;"></i>
                    <i class="fa-regular fa-thumbs-down" style="width: 20px; height: 20px;"></i>
                    <a href="homepage.html"><i class="fa-solid fa-bookmark" style="width: 20px; height: 20px;"></i></a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="image">
                <a
                    href="https://www.google.com/maps/place/National+Zoological+Park/@28.606745,77.2432148,17z/data=!3m1!4b1!4m5!3m4!1s0x390ce318a027dbb9:0xf12a1c6b59580448!8m2!3d28.6067403!4d77.2454035">
                    <img src="static/images/National_Zoological_Park.jpg" class="img-fluid" alt="..."></a>
                <div class="Delhi">
                    <h5>Tour the National Zoological Park</h5>
                    <p>Description : </p>
                    <p>Timings : </p>
                    <p>Price : </p>
                    <a href="homepage.html"><i class="fa-solid fa-plus" style="width: 20px; height: 20px;"></i></a>
                    <i class="fa-regular fa-thumbs-up" style="width: 20px; height: 20px;"></i>
                    <i class="fa-regular fa-comment" style="width: 20px; height: 20px;"></i>
                    <i class="fa-regular fa-thumbs-down" style="width: 20px; height: 20px;"></i>
                    <a href="homepage.html"><i class="fa-solid fa-bookmark" style="width: 20px; height: 20px;"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}