{% extends 'base.html' %}
{% block title %} Emergency Nos {% endblock title %}
{% block extra_css1 %}static/css/style.css{% endblock extra_css1 %}
{% block extra_css2 %}static/css/about.css{% endblock extra_css2 %}
{% block body %}
<div class="container">
    <h1> Emergency Numbers</h1>
    <br>
    <h5>India</h5>
    <br>
    <p>Citizens Call Centre -155300 </p>
    <p>Child Helpline -1098 </p>
    <p>Women Helpline-1091 </p>
    <p>Crime Stopper-1090 </p>
    <p>Rescue and Relief-1070 </p>
    <p>Ambulance-102,108 </p>
    <p>Police Helpline-100</p>
    <p>Railway Helpline-23004000</p>
    <p>NIC Service Desk-1800 -111- 555</p>

</div>
{% endblock body %}